In [ ]:
import sqlite3

In [ ]:
# Step 1: Connect to SQLite DB
conn = sqlite3.connect('sample.db')  # Creates db if it doesn't exist
cursor = conn.cursor()

In [ ]:
# Step 2: Create table (if not exists)
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    id INTEGER PRIMARY KEY,
                    name TEXT,
                    age INTEGER)''')

In [ ]:
# Step 3: Insert sample data
cursor.execute("INSERT INTO students (name, age) VALUES ('John', 22)")
cursor.execute("INSERT INTO students (name, age) VALUES ('Alice', 24)")
conn.commit()

In [ ]:
# Step 4: Read data
cursor.execute("SELECT * FROM students")
rows = cursor.fetchall()

# Step 5: Display results
for row in rows:
    print(row)

# Step 6: Close connection
conn.close()

(1, 'John', 22)
(2, 'Alice', 24)